* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'sans-serif';
  transition: ease 0.8s;

/* CORES DO SITE */
  --primary: #0085DB;
  --danger: #FF3333;
  --secondary: #E9F5FE;
  --gray: #5D7285;
  --smooth-gray: rgba(0,0,0,0.04);
  --shadow:0 4px 8px 0 rgba(0,0,0,0.2);
  --shadow-light:0 8px 16px 0 rgba(0,0,0,0.04);

  /* CONTAINER */
  --bg-gray:#F4F4F6;

  /* SIDEBAR */
  --sidebar-bt-default: #5D7285;
  --sidebar-bt-active: #0085DB;
  --sidebar-bt-bg-active: #E9F5FE;
  --bg-container: rgb(24, 197, 255, 3%);

   }
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.bt-primary{
  background-color: var(--primary);
  color: var(--secondary);
  text-transform: uppercase;
  min-width: 120px;
  min-height: 30px;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 400;
  border: none;
  border-radius: 8px;
  transition: ease 0.3s;
}
.bt-secondary{
  background-color: var(--secondary);
  color: var(--primary);
  text-transform: uppercase;
  min-width: 120px;
  min-height: 30px;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 400;
  border: none;
  border-radius: 8px;
  transition: ease 0.3s;
}

/* NAVBAR */
.navbar {
padding: 20px;
}
header{
}
.navbar nav {
  display: flex;
  justify-content: space-between;
}
#logo {
  height: 64px;
}
#user-nav{
  display: flex;
  align-items: center;
  gap: 20px
}
.right-nav{
  display: flex;
  align-items: center;
}

/* MAIN */
.main {
  min-height: 100%;
  max-height: 100px;
  display: grid;
  grid-template-columns: 1fr 5fr;

}
/* SIDEBAR */
.sidebar{
display: flex;
justify-content: space-between;
flex-direction: column;
padding: 32px 24px;
border-top: 1px solid var(--smooth-gray);
}
.sidebar-items{
}
.sidebar-items ul {
list-style-type: none;
gap: 16px;
display: flex;
flex-direction: column;
}
.sidebar-items ul li {
display: flex;
align-items: center;
}
.sidebar-items ul li button {
  font-size: 1em;
  width: 100%;
  padding: 8px;
  height: 48px;
  font-weight: 00;
  display: flex;
  align-items: center;
  color: var(--sidebar-bt-default);
  text-decoration: none;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: ease 0.8s;
}
.sidebar-items ul li button span {
  padding: 8px;
}
.sidebar-items ul li button:hover{
background-color: var(--sidebar-bt-bg-active);
color: var(--sidebar-bt-active);
}
#sidebar-active{
background-color: var(--sidebar-bt-bg-active);
color: var(--sidebar-bt-active);
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.logout button {
  color: white;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  height: 40px;
  border: none;
  background-color: var(--danger);
  cursor: pointer;
  transition: ease 0.8s;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
/* CONTAINER(CONTEUDO) */
.container{
background-color: var(--bg-container);
display: flex;
border-left: 1px solid var(--smooth-gray);
border-top: 1px solid var(--smooth-gray);
overflow-y: scroll;
max-height: 100%;
max-width: 100%;
position: relative;
padding: 0;
margin: 0;
}

.flex-container {
padding: 40px 30px;
gap: 20px;
display: flex;
flex-direction: column;
width: 100%;
}
/* GRID QUE DEFINE PROPORCAO NAVBAR / MAIN*/
.grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 6fr;
  min-height: 100vh;
}

/* BARRA DE ROLAGEM */

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

/* ============================  TIPO CONTAINER 2(Divisao em filtro(left) e conteudo(right) )  ========================================== */
/* DIV PAI CONTAINER */
.mid-container {
  display: grid;
  grid-template-columns: 1.5fr 8.5fr;
/*  flex-wrap: wrap;*/
  gap: 20px;
  height: 100%;
}
/* DIV FILHO LEFT(FILTROS ETC) */
.mid-container-left{
/*  flex: 1 1 auto;*/
  display: flex;
  gap: 20px;
  flex-direction: column;
}
/* BOTAO DE FILTRAGEM MENU */
.left-item button{
  font-size: 1em;
  width: 100%;
  height: 48px;
  font-weight: 00;
  padding: 8px;
  display: flex;
  align-items: center;
  color: var(--sidebar-bt-default);
  text-decoration: none;
  background-color: transparent;
  border-radius: 100px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: ease 0.8s;
  gap:20px;
}
.left-item button i {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-item{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-gray);
  border-radius: 20px;
}
.filter-active{
  background-color: var(--sidebar-bt-bg-active) !important;
  color: var(--sidebar-bt-active) !important;
  box-shadow: var(--shadow-light);
}

/* DIV FILHO RIGHT (CONTEUDO) */
.mid-container-right{
  flex: 9 1 auto;
  border-radius: 20px;
  background-color: var(--bg-gray);

  
}

.container-2 {
  background-color: var(--bg-container);
  display: flex;
  border-left: 1px solid var(--smooth-gray);
  border-top: 1px solid var(--smooth-gray);
  /*overflow-y: scroll;*/
/*  position: relative;*/
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

/* ================================================ */
/* BARRA DE PESQUISA */
.search-div{
  position: relative;
  min-width: 200px;
  max-width: 500px;
  display: grid;
}
.search-div input {
  padding:8px 8px 8px 40px;
  background-color: white;
  border-radius: 8px;
  font-size: 1em;
  border: none;
  border: 1px solid hsl(0,0%,90%, 1.0);
  outline: none;
  color: hsl(0, 0%, 20%, 1.0);
}
.search-div input:hover {
  border: 1px solid hsl(0,0%,20%, 1.0);
}
.search-div input:focus{
  border: 1px solid hsl(0,0%,20%, 1.0);
}
.search-div i{
  position: absolute;
  top: 50%;
    left: 10px;
    transform: translateY(-50%);
  border-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}









/* RESPONSIVIDADE */

@media (max-width: 1250px){
   .sidebar {
    display: none;
  }

.container-2 {
    overflow-y: scroll;
    position: relative;
}
main {
  display: grid;
  grid-template-columns: 1fr !important;
}

}




/* ============================================= */
/* OFFCANVAS */
.offcanvas {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0%;
    left: 0px;
    background-color: white;
    max-width: 300px;
    padding: 20px;
    width: 90%;
    height: 100%;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    animation: moveRight 2s forwards;
}
#offcanvasContent {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@keyframes moveRight {
    from {
        transform: translateX(-100%); 
    }
    to {
        transform: translateX(0);
    }
}


.menuOffcanvas {
  display: none;
}
.closeOffcanvas img {
    width: 24px;
  height: 24px;
}
.closeOffcanvas i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeOffcanvas {
    display: flex;
    background-color: transparent;
    border: 0;
    font-size: 1em;
    cursor: pointer;
}
.menuOffcanvas img{
  width: 24px;
  height: 24px;
}
.menuOffcanvas i {
  display: flex;
  justify-content: center;
    cursor: pointer;
    align-items: center;
}

@media(max-width: 1250px) {
  .menuOffcanvas {
    display: flex;
    padding: 20px;
    background-color: transparent;
    border: 0;
    font-size: 1em;
  }

/*  .menuOffcanvas:focus {
    animation: rotateMenu 2s forwards; 

  }*/
}
/*
@keyframes rotateMenu {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}*/