/*############################################
Seção 1 - Header/Navbar   (Header / Logo-container / Nav-section / Link-container / Profile-container)
Seção 2 - Login-main      (Login-main / Form-section / Login-container / Btn-container / Projeto-container)
Seção 3 - Campanhas-main 
Seção 4 - Sobre-main 
Seção 5 - Faq-main 
##############################################*/

@media screen and (max-width: 1250px) {

    /*############################################
    <-------------->Início - Seção 1 (Header/Navbar)<-------------->
    ############################################*/
    #login-main {
        display: flex !important;
        padding: 10%;
    }
    .projeto-container {
        display: none;
    }
    

    /*||||||||||||||||||||||||||||||||||||||||||||||
    <-------------->Fim Seção 1 (Header/Navbar)<-------------->
    ||||||||||||||||||||||||||||||||||||||||||||||*/



    /*############################################
    <-------------->Início - Seção 2 (Login-main)<-------------->
    ############################################*/

    /*||||||||||||||||||||||||||||||||||||||||||||||
    <-------------->Fim - Seção 2 (Login-main)<-------------->
    ||||||||||||||||||||||||||||||||||||||||||||||*/



    /*############################################
    <-------------->Início - Seção 3 (Campanhas-main)<-------------->
    ############################################*/

    /*||||||||||||||||||||||||||||||||||||||||||||||
    <-------------->Fim - Seção 3 (Campanhas-main)<-------------->
    ||||||||||||||||||||||||||||||||||||||||||||||*/



    /*############################################
    <-------------->Início - Seção 4 (Sobre-main)<-------------->
    ############################################*/

    /*||||||||||||||||||||||||||||||||||||||||||||||
    <-------------->Fim - Seção 4 (Sobre-main)<-------------->
    ||||||||||||||||||||||||||||||||||||||||||||||*/



    /*############################################
    <-------------->Início - Seção 5 (Faq-main)<-------------->
    ############################################*/

    /*||||||||||||||||||||||||||||||||||||||||||||||
    <-------------->Fim - Seção 5 (Faq-main)<-------------->
    ||||||||||||||||||||||||||||||||||||||||||||||*/
}